  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appContainer{
  min-height:100vh ;
  height: auto;
  width: 100%;
  background-color: white;
}

.centerBox{
    width: 100%;
    gap: 4rem;
    display: flex;
}
.gdscImgWrapper{
  width: 50%;
  display: flex;
  /* align-items: center; */
  /* background-color: red; */
  /* justify-content: center; */
}
.gdscImg{
    width: 80%;

    height: 80%;
}
.info{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.25rem;
    padding: 0 5rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.75px;
  }
.socialmediaIcon{
  width: 30px;
  object-fit: cover;
}

.socialmediaIconWrapper{
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}


.exploreBtn{
 background-color: rgb(242,72,34);
 color:grey;
 border: none;
 width: 122px;
 height: 29px;
 border-radius: 8px;
 letter-spacing: 1px;
 font-weight: 600;
}
.explorebtnWrapper{
  display: flex;
  /* background-color: aqua; */
  width: 50%;
}

.heroSection{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
}