.contactContainer{
    width: 34%;
    background-color: rgb(106,158,244);
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 2rem;
    align-items: center;
}
.contactWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signupBtn{
    background-color: rgb(66,133,244);
    color: rgb(64,59,59);
    border: none;
    cursor: pointer;
    width: 134px;
    border-radius: 6px;
    height: 28px;
}
.accountText{
    font-size: 12px;
    letter-spacing: 1px;
}

.contactusText{
    font-size: 52px;
}

.bodyForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.inputBox{
width: 100%;
border: none;    
background-color: rgb(106,158,244);
border-bottom: 2px solid white; /* Add a bottom border */
outline: none;               
}
.loginTxt{
    color: blue;
}

.line{
width: 100px;
height: 1px;
background-color: aliceblue;
}

.lineWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logoWrapper{
    display: flex;
    gap: 1rem;
}